.page {
}

.page__title {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 65px;
}

@media (width < 1280px) {
  .page__title {
    padding-top: 40px;
    font-size: 35px;
  }
}

@media (width < 768px) {
  .page__title {
    font-size: 22px;
  }
}
