.sidebar {
  background-color: lightyellow;
  border: 1px solid black;
  padding: 30px;
}

.sidebar__title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.sidebar__list {
  padding-top: 16px;
  list-style-type: disc;
  list-style-position: inside;
}

@media (width < 768px) {
  .sidebar__title {
    font-size: 18px;
  }

  .sidebar__list {
    padding-top: 10px;
  }

  .sidebar__item {
    font-size: 15px;
  }
}
