.useful-info {
  padding-top: 65px;
}

.useful-info__content {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 580px;
  gap: 21px;
}

.useful-info__title {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (width < 1280px) {
  .useful-info {
    padding-top: 40px;
  }

  .useful-info__title {
    font-size: 24px;
  }
}

@media (width < 768px) {
  .useful-info__title {
    font-size: 16px;
  }
}

@media (width < 576px) {
  .useful-info {
    padding-top: 20px;
  }

  .useful-info__content {
    padding-top: 30px;
    grid-template-columns: 1fr;
  }
}
